
  
  /* Responsive behavior for smaller screens */
  @media (max-width: 600px) {
    .SearchBox {
      width: 95%; /* More width for smaller screens */
    }
  }
  
  /* Animation for fading in */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  